@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: ninomtavruli;
    src: url(./assets/fonts/ninomtavruli.ttf);
    font-display: swap;
}

body {
    font-family: ninomtavruli, sans-serif;
}

.routerWrapper {
    background-image: url(assets/background.svg)
}